<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>实时追影网</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stricts/css/app.css">
</head>

<body ng-cloak>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">实时追影网</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" ng-controller="SearchController">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="searchDoc()">Search</a></li>
        </ul>
        <form class="navbar-form navbar-right" ng-submit="searchDoc()">
          <input type="text" class="form-control" placeholder="Search..." ng-model="inp">
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <!--侧边栏-->
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" ng-controller="NavController">
          <li ng-repeat="values in navs" ng-class="{active:type=='{{values.links|stringFilter}}'}"><a href={{values.links}}>{{values.val}}</a></li>
        </ul>
      </div>
      <!--主要显示数据区域-->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
    </div>
  </div>
  <!--异步加载-->
  <script src="./bower_components/script.js/dist/script.js"></script>
  <script src="./bower_components/angular-loader/angular-loader.js"></script>
	<script>
			$script([
				"./bower_components/angular/angular.min.js",
				"./bower_components/angular-route/angular-route.js",
				"./stricts/js/app.js",
				"./controllers/datail.js",
				"./controllers/controller.js",
				"./services/http.js",
				"./filters/filter.js"
			],function(){
				angular.bootstrap(document,['moviecat'])
			});
		</script>
</body>

</html>
